.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reviewsTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.reviewsContent {
  font-size: 15px;
  font-weight: 300;
}